@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@{
    if ((bool)HttpContext.Items["isMobile"] == false)
    {
        <div class="row pt-4 mt-4">
            <div class="col-8">
                <img class="img-fluid border shadow rounded mx-auto d-block" src="~/images/LogInHomePage.jpg" />
            </div>
            <div class="col-4">
                <h2 style="text-align:center;">@ViewData["Title"]</h2>

                <div class="card card-outline card-primary  border shadow">
                    <div class="card-header text-center">
                        <a href="#" class="h1"><b>Service</b>Hub</a>
                    </div>
                    <div class="card-body">
                        <h2 class="login-box-msg h5">
                            Enter your email
                        </h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                </form>
                            </div>
                        </div>

                        <hr />

                    </div>

                </div>

            </div>
        </div>
    }
    else
    {
        <div class="row pt-1 mt-1">
            <div class="col-12">
                <div class=" ">
                    <div class="card-header text-center">
                        <a href="#" class="h1" style="color:#035d7b !important"><b>Service</b>Hub</a>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <img class="img-fluid border shadow rounded mx-auto d-block" src="~/images/LogInHomePage.jpg" />
            </div>

            <div class="col-12 pt-2">
                <h2 style="text-align:center;">@ViewData["Title"]</h2>

                <div class="card card-outline card-primary ">
                    <div class="card-body">
                        <h2 class="login-box-msg h5">
                            Enter your email
                        </h2>
                        <div class="row" style="font-size:large;">
                            <div class="col-md-4">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                </form>
                            </div>
                        </div>

                        <hr />
                    </div>

                </div>

            </div>
        </div>
    }

    // <div class="card card-outline card-primary  border shadow hidden">
    //     <div class="card-header text-center">
    //         <a href="#" class="h1"><b>Service</b>Hub</a>

    //     </div>

    // </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
