@model int
<div class="row">
    <div class="col">
        <button type="submit" id="BtnNewSubmit" class="btn btn-primary form-control font-weight-bold" asp-route-id="@Model">Update </button>
    </div>

    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control font-weight-bold"  >Back to List </a>
    </div>
</div>