<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials" />

    <title> Service Hub </title>

    <partial name="_Styles" />
    <!--Render Styles-->
    @await RenderSectionAsync("Styles", required: false)
    <!--Render Styles-->
</head>
@* <body class="hold-transition sidebar-mini">
 *@
<body class="hold-transition sidebar-mini pace-warning">
    <div class="wrapper">
        <partial name="_TopNavigation" />
        <partial name="_MainNavigation" />

        <!-- Main Sidebar Container -->
        <div class="content-wrapper">
            @*<div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0 text-dark">Starter Page</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Starter Page</li>
            </ol>
            </div>
            </div>
            </div>
            </div>*@
            <div class="content">
                <nav aria-label="breadcrumb">
                    @await RenderSectionAsync("BreadCrumbs", required: false)
                </nav>

                <div class="container-fluid p-2 ">

                    @RenderBody()

                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <partial name="_Footer" />
    </div>

    <partial name="_Scripts" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*     <script src="~/js/genericTrs.js" asp-append-version="true"></script>
    *@    @await Html.PartialAsync("_notificationPartial")
    @await Html.PartialAsync("_RestrictIEScriptPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>