@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h2 class=" font-weight-bold text-primary">Masters </h2>
                            </div>
                            <div class="col-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="minimal-statistics"> 
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Masters" asp-controller="UserAccess" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: Dodgerblue;">
                                                                <i class="fas fa-file-signature"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body text-right">
                                                           @*  <h3>3</h3> *@
                                                            <h5>UserAccess</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Masters" asp-controller="Producs" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: #3b8f18;">
                                                                <i class="fas fa-file-contract"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body text-right">
                                                         @*    <h3>8</h3> *@
                                                            <h5>Producs</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Masters" asp-controller="Service" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: #ff6a00;">
                                                                <i class="fas fa-list-alt"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body text-right">
                                                          @*   <h3>@Model.TotalStudentInquiry</h3> *@
                                                            <h5>Service</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                           @*      <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Admin" asp-controller="StaffInfo" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: #8821db;">
                                                                <i class="fas fa-user-tie"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body text-right">
                                                            <h3>@Model.TotalStaffInfo</h3>
                                                            <h5>Staff Management</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div> *@
                            </div>

                         @*    <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Admin" asp-controller="StudentRegistration" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="media-body text-left">
                                                            <h3>@Model.TotalStudentRegistration</h3>
                                                            <h5>Student Registration</h5>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: #f32b79;">
                                                                <i class="fas fa-user-graduate"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="media-body text-left">
                                                            <h3>@Model.TotalUser</h3>
                                                            <h5>User Management</h5>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <span style="font-size: 48px; color: #808080;">
                                                                <i class="fas fa-user-friends"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a href="" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="media-body text-left">
                                                            <h3 class="warning">64.89 %</h3>
                                                            <span>Conversion Rate</span>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <i class="icon-pie-chart warning font-large-2 float-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a href="" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="media-body text-left">
                                                            <h3 class="primary">423</h3>
                                                            <span>Support Tickets</span>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <i class="icon-support primary font-large-2 float-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <a href="" class="custom-card">
                                        <div class="card m-2 MyCradSHadow border">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="media d-flex">
                                                        <div class="media-body text-left">
                                                            <h3 class="primary">278</h3>
                                                            <span>New Posts</span>
                                                        </div>
                                                        <div class="align-self-center">
                                                            <i class="icon-book-open primary font-large-2 float-right"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress mt-1 mb-0" style="height: 7px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card m-2 MyCradSHadow border">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="media d-flex">
                                                    <div class="media-body text-left">
                                                        <h3 class="warning">156</h3>
                                                        <span>New Comments</span>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <i class="icon-bubbles warning font-large-2 float-right"></i>
                                                    </div>
                                                </div>
                                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card m-2 MyCradSHadow border">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="media d-flex">
                                                    <div class="media-body text-left">
                                                        <h3 class="success">64.89 %</h3>
                                                        <span>Bounce Rate</span>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <i class="icon-cup success font-large-2 float-right"></i>
                                                    </div>
                                                </div>
                                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card m-2 MyCradSHadow border">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="media d-flex">
                                                    <div class="media-body text-left">
                                                        <h3 class="danger">423</h3>
                                                        <span>Total Visits</span>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <i class="icon-direction danger font-large-2 float-right"></i>
                                                    </div>
                                                </div>
                                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
